# Jyväskylän kaupungin ostot 2012-2021 <a name="header1"></a>
### Osa 1: Aineiston koostaminen

## Sisältö
1. [Johdanto](#introduction)
2. [Aineistoon tutustuminen](#paragraph1)
3. [Aineiston esikäsittely ja siivoaminen](#paragraph2)    
    1. [Sarakkeiden päivittäminen](#subparagraph1)      
    2. [Datan yhdistäminen](#subparagraph2)    
    3. [Tietotyyppien ja arvojen tarkastelu](#subparagraph3)  
    4. [Puuttuvien arvojen käsittely](#subparagraph4)
    5. [Aineiston tallentaminen CSV:ksi](#subparagraph5)

## Johdanto <a name="introduction"></a>

Tässä tehtävässä käytetään aineistona Jyväskylän kaupungin ostolaskuja vuosilta 2012-2021, ja sitä käsitellään ja analysoidaan Pythonilla JupyterLabin avulla. Tiedot on tuotu Excel-tiedostoista, jotka on ladattu 9.5.2023 Jyväskylän kaupungin avoimen datan palvelusta osoitteesta https://data.jyvaskyla.fi/data.php. Aineistosta kerrotaan sivustolla seuraavasti: 

> Tiedoissa on mukana kaupungin kaikki toimialat ja liikelaitokset. Tiedot sisältävät ostolaskutiedot sekä luottokorttiostotiedot. Ostotiedot on poimittu ostolaskujen käsittelyjärjestelmästä ja kirjanpidosta ulkoisten palvelujen ja tarvikkeiden sekä käyttöomaisuusostojen tileiltä.
>
> Tiedot mahdollistavat kaupungin hankintojen (ostojen) tarkastelun palvelualueittain toimittaja- ja tilitasoilla. Suodattamalla tietoja voidaan vertailla ostojen toteutumia erilaisten tietojen perusteella.   
>
> Luottokorttiostotiedot eivät sisällä toimittajanumeroa ja kaikkien luottokorttiostojen osalta emme saa ostopaikkatietoja ilman yksittäisten tositteiden läpikäyntiä. Y-tunnustieto puuttuu henkilötoimittajien ja luottokorttiostojen osalta.    
>
> Ylläpitäjä ja yhteys:   
> ostotiedot[at]jkl.fi    

Aineisto ei ole täydellistä, vaan se sisältää puuttuvia arvoja ja kirjoitusvirheitä, ja ostoja on kirjattu eri vuosina hieman erinimisille vastuualueille ja tileille. Apua näiden epäselvyyksien tulkintaan on ystävällisesti antanut Jyväskylän kaupungin taloussuunnittelupäällikkö Erikka Saastamoinen. Parhaasta yrityksestä huolimatta on mahdollista, että kaupungin organisaatiorakennetta vastuualueineen ja tulosyksiköineen on tässä tulkittu paikoin väärin. Mahdolliset virheet ovat omiani.   

Aineiston koostamisen ja siivoamisen jälkeen datakehikko tallennetaan csv:ksi, ja sitä käytetään myöhemmin analyysiosiossa. Ostolaskujen analyysi kokonaisuudessaan löytyy tiedostosta *'ostolaskut_anallyysi.ipynb'*.

[Takaisin alkuun](#header1)

## Aineistoon tutustuminen <a name="paragraph1"></a>

Ensimmäisessä vaiheessa ladataan ostolaskutiedot sisältävät Excel-tiedostot, ja luetaan ne jatkojalostusta varten datakehikkoihin (dataframe). Sitä ennen kuitenkin tuodaan tarvittava kirjasto *'pandas'*:

In [73]:
import pandas as pd

In [14]:
# Ladataan vuosittaiset ostotiedostot omiksi datakehikoiksi:

df_21 = pd.read_excel("ostot_2021.xlsx")
df_20 = pd.read_excel("ostot_2020.xlsx")
df_19 = pd.read_excel("ostot_2019.xlsx")
df_18 = pd.read_excel("ostot_2018_final.xlsx")
df_17 = pd.read_excel("ostot_2017.xlsx")
df_16 = pd.read_excel("Ostot_2016_final_v1.0.xlsx")
df_15 = pd.read_excel("ostot2015_julkaistavaksi.xlsx")
df_14 = pd.read_excel("ostot_2014.xlsx")
df_13 = pd.read_excel("ostot_2013.xlsx")
df_12 = pd.read_excel("ostot_2012.xlsx")

/Users/salla/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

Katsotaan seuraavaksi, minkä tyyppistä dataa eri vuosien datakehikot sisältävät, ja kuinka monta ei-tyhjää arvoa ne sisältävät:

In [15]:
# 2021: 
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223295 entries, 0 to 223294
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Kuntanumero             223294 non-null  float64
 1   Kunnan nimi             223294 non-null  object
 2   Kunnan y-tunnus         223294 non-null  object
 3   Vastuualue              223294 non-null  object
 4   Tulosyksikkö            223294 non-null  float64
 5   Tulosyksikön nimi       223294 non-null  object
 6   Toimittajan nimi        223294 non-null  object
 7   Toimittajan y-tunnus    223294 non-null  object
 8   Toimittajan maakoodi    223294 non-null  object
 9   Tiliryhmä               223294 non-null  object
 10  Tili                    223294 non-null  float64
 11  Tilin nimi              223294 non-null  object
 12  JHS-tili                223294 non-null  float64
 13  JHS-tilin nimi          223294 non-null  object
 14  Laskun summa ilman ALV  223295 non-null  float64
 15  Kirjauspäivämäärä       223294 non-null  datetime64[ns]
 16  Palveluluokka           223294 non-null  object
dtypes: datetime64[ns](1), float64(5), object(11)
memory usage: 29.0+ MB

In [16]:
# 2020:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128704 entries, 0 to 128703
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vastuualue        128703 non-null  object
 1   Toimittaja nro    128703 non-null  float64
 2   Y-tunnus          128703 non-null  object
 3   Toimittajan nimi  128703 non-null  object
 4   Tiliryhmä         128703 non-null  object
 5   Tili              128703 non-null  float64
 6   Tilin nimi        128703 non-null  object
 7   Nettosumma        128704 non-null  float64
 8   Kirjauspvm        128703 non-null  datetime64[ns]
 9   Postinumero       128703 non-null  object
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 9.8+ MB

In [17]:
# 2019:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140101 entries, 0 to 140100
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Vastuualue         140101 non-null  object
 1   Toimittaja nro     131063 non-null  float64
 2   Y-tunnus           131063 non-null  object
 3   Toimittajan nimi   140101 non-null  object
 4   Tiliryhmä          140101 non-null  object
 5   Tili               140101 non-null  int64
 6   Tilin nimi         140101 non-null  object
 7   Nettosumma         140101 non-null  float64
 8   Kirjauspäivämäärä  140101 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 9.6+ MB

In [18]:
# 2018:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226319 entries, 0 to 226318
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vastuualue        226318 non-null  object
 1   Toimittaja nro    217602 non-null  float64
 2   Y-tunnus          217602 non-null  object
 3   Toimittajan nimi  226318 non-null  object
 4   Tiliryhmä         226318 non-null  object
 5   Tili              226318 non-null  float64
 6   Tilin nimi        226318 non-null  object
 7   Nettosumma        226319 non-null  float64
 8   Kirjauspäivä      226318 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 15.5+ MB

In [19]:
# 2017:
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213100 entries, 0 to 213099
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vastuualue        213100 non-null  object
 1   Toimittaja nro    205085 non-null  float64
 2   Y-tunnus          204371 non-null  object
 3   Toimittajan nimi  213100 non-null  object
 4   Tiliryhmä         213100 non-null  object
 5   Tili              213100 non-null  int64
 6   Tilin nimi        213100 non-null  object
 7   Nettosumma        213100 non-null  float64
 8   Kirjauspäivä      213100 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 14.6+ MB

In [20]:
# 2016:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213972 entries, 0 to 213971
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vastuualue        213972 non-null  object
 1   Toimittaja  nro   204687 non-null  float64
 2   Y-tunnus          203788 non-null  object
 3   Toimittajan nimi  213972 non-null  object
 4   Tiliryhmä         213972 non-null  object
 5   Tili nro          213972 non-null  int64
 6   Tilin nimi        213972 non-null  object
 7   Netto             213972 non-null  float64
 8   Unnamed: 8        0 non-null       float64
 9   Unnamed: 9        0 non-null       float64
 10  Unnamed: 10       1 non-null       object
dtypes: float64(4), int64(1), object(6)
memory usage: 18.0+ MB

In [21]:
# 2015:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200866 entries, 0 to 200865
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vastuualue        200866 non-null  object
 1   Toimittajan
 nro  193013 non-null  float64
 2   Toimittajan nimi  200866 non-null  object
 3   Tiliryhmä         200866 non-null  object
 4   Tilit             200866 non-null  int64
 5   Tilin nimi        200866 non-null  object
 6   Netto             200866 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 10.7+ MB

In [22]:
# 2014:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194125 entries, 0 to 194124
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vastuualue        194125 non-null  object
 1   Toimittajan
nro   187926 non-null  float64
 2   Toimittajan nimi  194125 non-null  object
 3   Tiliryhmä         194125 non-null  object
 4   Tili nro          194125 non-null  int64
 5   Tilin nimi        194124 non-null  object
 6   Netto             194125 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 10.4+ MB

In [23]:
# 2013:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207808 entries, 0 to 207807
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vastuualue        207808 non-null  object
 1   Toimittaja nro    200462 non-null  float64
 2   Toimittajan nimi  207808 non-null  object
 3   Tiliryhmä         207808 non-null  object
 4   Tili nro          207808 non-null  int64
 5   Tilin nimi        207779 non-null  object
 6   Netto             207808 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.1+ MB

In [24]:
# 2012:
df_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205600 entries, 0 to 205599
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vastuualue        205600 non-null  object
 1   Toimittaja nro    198144 non-null  float64
 2   Toimittajan nimi  205600 non-null  object
 3   Tiliryhmä         205600 non-null  object
 4   Tili nro          205600 non-null  int64
 5   Tilin nimi        205600 non-null  object
 6   Netto             205600 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.0+ MB

Yllä olevasta huomataan, että ostolaskutiedostot sisältävät erilaista dataa eri vuosilta. Kun vuoden 2021 datakehikossa on 17 saraketta, vuosina 2012-2015 niitä on ollut vain 7. Analyysiä varten aineistoa on yhdenmukaistettava, jotta eri vuosien datakehikot voidaan yhdistää ja ostoja vertailla keskenään.

[Takaisin alkuun](#header1)

## Aineiston esikäsittely ja siivoaminen <a name="paragraph2"></a>

Tässä vaiheessa eri vuosien datakehikkoja muokataan niin, että ne voidaan lopulta koostaa yhdeksi datakehikoksi *'df'*. Koska eri vuosina ostoaineistot on koostettu eri tavoin, ylimääräisiä sarakkeita pitää poistaa ja tarkastaa, että jäljelle jäävät sarakkeet on nimetty yhdenmukaisesti. Tässä vaiheessa myös varmistetaan, että sarakkeiden tietotyypit ovat oikein, ja että aineiston sisältämät puuttuvat arvot käsitellään asianmukaisesti. Valitettavasti kirjauspäivämäärä jätetään huomioimatta tässä projektissa, sillä se puuttuu suurimmasta osasta vuosiaineistoja. Uuteen datakehikkoon *'df'* otetaan näin ollen ainoastaan seuraavat sarakkeet: *'Vuosi'* (uusi sarake), *'Vastuualue'*, *'Toimittajan nimi'*, *'Tiliryhmä'*, *'Tilin nimi'* sekä *'Nettosumma'*. 

### Sarakkeiden päivittäminen <a name="subparagraph1"></a>  

Seuraavassa käydään vuosittaiset datakehikot yksi kerrallaan läpi, ja tehdään kuhunkin tarvittavat muutokset niin, että kuhunkin jää jäljelle halutut kuusi saraketta.   

**2021:**

In [77]:
# Katsotaan datakehikon sarakkeet:
df_21.columns

Index(['Kuntanumero', 'Kunnan nimi ', 'Kunnan y-tunnus', 'Vastuualue',
       'Tulosyksikkö', 'Tulosyksikön nimi', 'Toimittajan nimi',
       'Toimittajan y-tunnus', 'Toimittajan maakoodi', 'Tiliryhmä', 'Tili',
       'Tilin nimi', 'JHS-tili', 'JHS-tilin nimi', 'Laskun summa ilman ALV',
       'Kirjauspäivämäärä', 'Palveluluokka'],
      dtype='object')

In [78]:
# Poistetaan ylimääräiset sarakkeet, ja tallennetaan jäljelle jäävät tiedot uuteen dataframeen:   
df_21a = df_21.drop(['Kuntanumero', 'Kunnan nimi ', 'Kunnan y-tunnus', 'Tulosyksikkö', \
                    'Tulosyksikön nimi', 'Toimittajan y-tunnus', 'Toimittajan maakoodi', \
                    'Tili', 'JHS-tili', 'JHS-tilin nimi', 'Kirjauspäivämäärä', \
                    'Palveluluokka'], axis = 1)

# Vaihdetaan 'Laskun summa ilman ALV' nimeksi 'Nettosumma':
df_21a.rename(columns = {'Laskun summa ilman ALV': 'Nettosumma'}, inplace = True)

# Lisätään sarake 'Vuosi':
df_21a.insert(loc = 0, column = 'Vuosi', value = '2021')

df_21a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2021,Konsernihallinto,KEPIT SYSTEMS OY,Ulkoiset palvelujen ostot,Asiantuntijapalvelut,1770.0
1,2021,Konsernihallinto,KEPIT SYSTEMS OY,Ulkoiset palvelujen ostot,Asiantuntijapalvelut,1100.0

In [30]:
df_21a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223295 entries, 0 to 223294
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             223295 non-null  object
 1   Vastuualue        223294 non-null  object
 2   Toimittajan nimi  223294 non-null  object
 3   Tiliryhmä         223294 non-null  object
 4   Tilin nimi        223294 non-null  object
 5   Nettosumma        223295 non-null  float64
dtypes: float64(1), object(5)
memory usage: 10.2+ MB

**2020:**

In [32]:
# Katsotaan datakehikon sarakkeet:
df_20.columns

Index(['Vastuualue', 'Toimittaja nro', 'Y-tunnus', 'Toimittajan nimi',
       'Tiliryhmä', 'Tili', 'Tilin nimi', 'Nettosumma', 'Kirjauspvm',
       'Postinumero '],
      dtype='object')

In [79]:
# Tallennetaan tarvittavat sarakkeet uuteen dataframeen:   
df_20a = df_20[['Vastuualue', 'Toimittajan nimi', 'Tiliryhmä', 'Tilin nimi', 'Nettosumma']]

# Lisätään sarake 'Vuosi':
df_20a.insert(loc = 0, column = 'Vuosi', value = '2020')

df_20a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2020,Konsernihallinto,SODEXO OY,Ulkoiset palvelujen ostot,Majoitus- ja ravitsemispalvelut,174.70
1,2020,Konsernihallinto,SODEXO OY,Ulkoiset palvelujen ostot,Majoitus- ja ravitsemispalvelut,991.24

In [34]:
df_20a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128704 entries, 0 to 128703
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             128704 non-null  object
 1   Vastuualue        128703 non-null  object
 2   Toimittajan nimi  128703 non-null  object
 3   Tiliryhmä         128703 non-null  object
 4   Tilin nimi        128703 non-null  object
 5   Nettosumma        128704 non-null  float64
dtypes: float64(1), object(5)
memory usage: 5.9+ MB

**2019:**

In [36]:
# Katsotaan datakehikon sarakkeet:
df_19.columns

Index(['Vastuualue', 'Toimittaja nro', 'Y-tunnus', 'Toimittajan nimi',
       'Tiliryhmä', 'Tili', 'Tilin nimi', 'Nettosumma', 'Kirjauspäivämäärä'],
      dtype='object')

In [80]:
# Tallennetaan tarvittavat sarakkeet uuteen dataframeen:   
df_19a = df_19[['Vastuualue', 'Toimittajan nimi', 'Tiliryhmä', 'Tilin nimi', 'Nettosumma']]

# Lisätään sarake 'Vuosi':
df_19a.insert(loc = 0, column = 'Vuosi', value = '2019')

df_19a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2019,Sosiaali- ja terveyspalvelut,014-KULJETUS OY,Ulkoisten palvelujen ostot,Posti- ja kuriiripalvelut,6679.52
1,2019,Sosiaali- ja terveyspalvelut,014-KULJETUS OY,Ulkoisten palvelujen ostot,Sosiaali- ja terveyspalvelut,6691.01

In [46]:
df_19a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140101 entries, 0 to 140100
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             140101 non-null  object
 1   Vastuualue        140101 non-null  object
 2   Toimittajan nimi  140101 non-null  object
 3   Tiliryhmä         140101 non-null  object
 4   Tilin nimi        140101 non-null  object
 5   Nettosumma        140101 non-null  float64
dtypes: float64(1), object(5)
memory usage: 6.4+ MB

**2018:**

In [37]:
# Katsotaan datakehikon sarakkeet:
df_18.columns

Index(['Vastuualue', 'Toimittaja nro', 'Y-tunnus', 'Toimittajan nimi',
       'Tiliryhmä', 'Tili', 'Tilin nimi', 'Nettosumma', 'Kirjauspäivä'],
      dtype='object')

In [81]:
# Tallennetaan tarvittavat sarakkeet uuteen dataframeen:   
df_18a = df_18[['Vastuualue', 'Toimittajan nimi', 'Tiliryhmä', 'Tilin nimi', 'Nettosumma']]

# Lisätään sarake 'Vuosi':
df_18a.insert(loc = 0, column = 'Vuosi', value = '2018')

df_18a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2018,"100, Konsernihallinto",HERTZ AUTOVERMIETUNG G ESCHBORN,Muut toimintakulut,Muut vuokrat,29.75
1,2018,"100, Konsernihallinto",HERTZ AUTOVERMIETUNG G ESCHBORN,Muut toimintakulut,Muut vuokrat,29.75

In [48]:
df_18a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226319 entries, 0 to 226318
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             226319 non-null  object
 1   Vastuualue        226318 non-null  object
 2   Toimittajan nimi  226318 non-null  object
 3   Tiliryhmä         226318 non-null  object
 4   Tilin nimi        226318 non-null  object
 5   Nettosumma        226319 non-null  float64
dtypes: float64(1), object(5)
memory usage: 10.4+ MB

**2017:**

In [38]:
# Katsotaan datakehikon sarakkeet:
df_17.columns

Index(['Vastuualue', 'Toimittaja nro', 'Y-tunnus', 'Toimittajan nimi',
       'Tiliryhmä', 'Tili', 'Tilin nimi', 'Nettosumma', 'Kirjauspäivä'],
      dtype='object')

In [82]:
# Tallennetaan tarvittavat sarakkeet uuteen dataframeen:   
df_17a = df_17[['Vastuualue', 'Toimittajan nimi', 'Tiliryhmä', 'Tilin nimi', 'Nettosumma']]

# Lisätään sarake 'Vuosi':
df_17a.insert(loc = 0, column = 'Vuosi', value = '2017')

df_17a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2017,"100, Konsernihallinto",SOVATEK-SÄÄTIÖ,Ulkoisten palvelujen ostot,Asiakaspalvelujen ostot,152000.0
1,2017,"100, Konsernihallinto",SOVATEK-SÄÄTIÖ,Ulkoisten palvelujen ostot,Asiakaspalvelujen ostot,152000.0

In [50]:
df_17a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213100 entries, 0 to 213099
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             213100 non-null  object
 1   Vastuualue        213100 non-null  object
 2   Toimittajan nimi  213100 non-null  object
 3   Tiliryhmä         213100 non-null  object
 4   Tilin nimi        213100 non-null  object
 5   Nettosumma        213100 non-null  float64
dtypes: float64(1), object(5)
memory usage: 9.8+ MB

**2016:**

In [39]:
# Katsotaan datakehikon sarakkeet:
df_16.columns

Index(['Vastuualue', 'Toimittaja  nro', 'Y-tunnus', 'Toimittajan nimi',
       'Tiliryhmä', 'Tili nro', 'Tilin nimi', 'Netto', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [83]:
# Tallennetaan tarvittavat sarakkeet uuteen dataframeen:   
df_16a = df_16[['Vastuualue', 'Toimittajan nimi', 'Tiliryhmä', 'Tilin nimi', 'Netto']].copy()

# Vaihdetaan sarakkeen 'Netto' nimeksi 'Nettosumma':
df_16a.rename(columns = {'Netto': 'Nettosumma'}, inplace = True)

# Lisätään sarake 'Vuosi':
df_16a.insert(loc = 0, column = 'Vuosi', value = '2016')

df_16a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2016,Altek Aluetekniikka,3D-SYSTEM OY,Ulkoisten palvelujen ostot,Toimisto- ja asiantuntijapalvelut,1328.5
1,2016,Altek Aluetekniikka,3D-SYSTEM OY,Ulkoisten palvelujen ostot,Toimisto- ja asiantuntijapalvelut,1328.5

In [52]:
df_16a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213972 entries, 0 to 213971
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             213972 non-null  object
 1   Vastuualue        213972 non-null  object
 2   Toimittajan nimi  213972 non-null  object
 3   Tiliryhmä         213972 non-null  object
 4   Tilin nimi        213972 non-null  object
 5   Nettosumma        213972 non-null  float64
dtypes: float64(1), object(5)
memory usage: 9.8+ MB

**2015:**

In [40]:
# Katsotaan datakehikon sarakkeet:
df_15.columns

Index(['Vastuualue', 'Toimittajan\n nro', 'Toimittajan nimi', 'Tiliryhmä',
       'Tilit', 'Tilin nimi', 'Netto'],
      dtype='object')

In [84]:
# Tallennetaan tarvittavat sarakkeet uuteen dataframeen:   
df_15a = df_15[['Vastuualue', 'Toimittajan nimi', 'Tiliryhmä', 'Tilin nimi', 'Netto']].copy()

# Vaihdetaan sarakkeen 'Netto' nimeksi 'Nettosumma':
df_15a.rename(columns = {'Netto': 'Nettosumma'}, inplace = True)

# Lisätään sarake 'Vuosi':
df_15a.insert(loc = 0, column = 'Vuosi', value = '2015')

df_15a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2015,Altek Aluetekniikka,3D-SYSTEM OY,Ulkoisten palvelujen ostot,Koulutus- ja kulttuuripalvelut,540.0
1,2015,Altek Aluetekniikka,3D-SYSTEM OY,Ulkoisten palvelujen ostot,Koulutus- ja kulttuuripalvelut,950.0

In [54]:
df_15a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200866 entries, 0 to 200865
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             200866 non-null  object
 1   Vastuualue        200866 non-null  object
 2   Toimittajan nimi  200866 non-null  object
 3   Tiliryhmä         200866 non-null  object
 4   Tilin nimi        200866 non-null  object
 5   Nettosumma        200866 non-null  float64
dtypes: float64(1), object(5)
memory usage: 9.2+ MB

**2014:**

In [41]:
# Katsotaan datakehikon sarakkeet:
df_14.columns

Index(['Vastuualue', 'Toimittajan\nnro', 'Toimittajan nimi', 'Tiliryhmä',
       'Tili nro', 'Tilin nimi', 'Netto '],
      dtype='object')

In [85]:
# Tallennetaan tarvittavat sarakkeet uuteen dataframeen. 
# Huomataan, että sarake 'Netto' on muodossa 'Netto '
df_14a = df_14[['Vastuualue', 'Toimittajan nimi', 'Tiliryhmä', 'Tilin nimi', 'Netto ']].copy()

# Vaihdetaan sarakkeen 'Netto ' nimeksi 'Nettosumma':
df_14a.rename(columns = {'Netto ': 'Nettosumma'}, inplace = True)

# Lisätään sarake 'Vuosi':
df_14a.insert(loc = 0, column = 'Vuosi', value = '2014')

df_14a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2014,100 Konsernihallinto,4140 Gigantti Jyvaskyl Vantaa,Ulkoiset aineet ja tarvikkeet,Muu materiaali,19.84
1,2014,100 Konsernihallinto,4140 Gigantti Jyvaskyl Vantaa,Ulkoiset aineet ja tarvikkeet,Muu materiaali,39.95

In [56]:
df_14a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194125 entries, 0 to 194124
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             194125 non-null  object
 1   Vastuualue        194125 non-null  object
 2   Toimittajan nimi  194125 non-null  object
 3   Tiliryhmä         194125 non-null  object
 4   Tilin nimi        194124 non-null  object
 5   Nettosumma        194125 non-null  float64
dtypes: float64(1), object(5)
memory usage: 8.9+ MB

**2013:**

In [42]:
# Katsotaan datakehikon sarakkeet:
df_13.columns

Index(['Vastuualue', 'Toimittaja nro', 'Toimittajan nimi', 'Tiliryhmä',
       'Tili nro', 'Tilin nimi', 'Netto '],
      dtype='object')

In [86]:
# Tallennetaan tarvittavat sarakkeet uuteen dataframeen:
# Huomataan, että tässäkin sarake 'Netto' on muodossa 'Netto '
df_13a = df_13[['Vastuualue', 'Toimittajan nimi', 'Tiliryhmä', 'Tilin nimi', 'Netto ']].copy()

# Vaihdetaan sarakkeen 'Netto ' nimeksi 'Nettosumma':
df_13a.rename(columns = {'Netto ': 'Nettosumma'}, inplace = True)

# Lisätään sarake 'Vuosi':
df_13a.insert(loc = 0, column = 'Vuosi', value = '2013')

df_13a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2013,100 Konsernihallinto,141 Tokmanni Forum Jyvaskyla,Muut toimintakulut,Muut kulut,6.97
1,2013,100 Konsernihallinto,141 Tokmanni Forum Jyvaskyla,Muut toimintakulut,Muut kulut,5.78

In [58]:
df_13a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207808 entries, 0 to 207807
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             207808 non-null  object
 1   Vastuualue        207808 non-null  object
 2   Toimittajan nimi  207808 non-null  object
 3   Tiliryhmä         207808 non-null  object
 4   Tilin nimi        207779 non-null  object
 5   Nettosumma        207808 non-null  float64
dtypes: float64(1), object(5)
memory usage: 9.5+ MB

**2012:**

In [43]:
# Katsotaan datakehikon sarakkeet:
df_12.columns

Index(['Vastuualue', 'Toimittaja nro', 'Toimittajan nimi', 'Tiliryhmä',
       'Tili nro', 'Tilin nimi', 'Netto '],
      dtype='object')

In [87]:
# Tallennetaan tarvittavat sarakkeet uuteen dataframeen:
# Huomataan, että myös tässä sarake 'Netto' on muodossa 'Netto '
df_12a = df_12[['Vastuualue', 'Toimittajan nimi', 'Tiliryhmä', 'Tilin nimi', 'Netto ']].copy()

# Vaihdetaan sarakkeen 'Netto ' nimeksi 'Nettosumma':
df_12a.rename(columns = {'Netto ': 'Nettosumma'}, inplace = True)

# Lisätään sarake 'Vuosi':
df_12a.insert(loc = 0, column = 'Vuosi', value = '2012')

df_12a.head(2)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
0,2012,100 Konsernihallinto,2weel4e1 KY,Ulkoisten palvelujen ostot,Muut palvelut,2200.0
1,2012,100 Konsernihallinto,4EVENT OY,Ulkoisten palvelujen ostot,Opetus- ja kulttuuripalvelut,765.0

In [60]:
df_12a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205600 entries, 0 to 205599
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Vuosi             205600 non-null  object
 1   Vastuualue        205600 non-null  object
 2   Toimittajan nimi  205600 non-null  object
 3   Tiliryhmä         205600 non-null  object
 4   Tilin nimi        205600 non-null  object
 5   Nettosumma        205600 non-null  float64
dtypes: float64(1), object(5)
memory usage: 9.4+ MB

[Takaisin alkuun](#header1)

### Datan yhdistäminen <a name="subparagraph2"></a>  

Muodostetaan vuosikohtaisista datakehikoista yksi iso datakehikko *'df'*:

In [88]:
df = pd.concat([df_21a, df_20a, df_19a, df_18a, df_17a, df_16a, df_15a, df_14a, df_13a, \
                df_12a], axis=0, ignore_index = True)

# Katsotaan datakehikon viisi satunnaista riviä:
df.sample(5)

,Vuosi,Vastuualue,Toimittajan nimi,Tiliryhmä,Tilin nimi,Nettosumma
131215,2021,Kasvun ja oppimisen palvelut,KIRJAVÄLITYS OY,"Ulkoiset aineet, tarvikkeet ja tavarat",Kirjallisuus,495.25
7376,2021,Sosiaali- ja terveyspalvelut,ELISA OYJ,Ulkoiset palvelujen ostot,ICT-palvelut,0.40
1380952,2014,1001 Tilapalvelu,SUOMEN ALLASLAITE OY,Ulkoisten palvelujen ostot,Kiinteistöjen ja ulkoalueiden kunnossapito,184.50
1682616,2013,400 Sosiaali- ja terveyspalvelut,TOTAL KIINTEISTÖPALVELUT OY,Ulkoiset aineet ja tarvikkeet,Siivous- ja puhdistusaineet,12.20
389486,2019,Kasvun ja oppimisen palvelut,RTK-PALVELU OY,Ulkoisten palvelujen ostot,Muut palvelut,91.62

In [65]:
# Tarkastetaan datakehikon muoto:
df.shape

(1953890, 6)

Edellä koko ostolaskuaineisto saatiin tallennettua yhteen datakehikkoon *'df'*. Kyseisessä datakehikossa on nyt vajaa kaksi miljoonaa riviä ja kuusi saraketta, mikä kuulostaa oikealta.   

[Takaisin alkuun](#header1)

### Tietotyyppien ja arvojen tarkastelu <a name="subparagraph3"></a>  

Seuraavaksi sarakkeita tutkitaan tarkemmin ja katsotaan, että niiden tietotyypit ovat oikein.

In [89]:
# Tarkastetaan sarakkeiden tietotyypit:
df.dtypes

Vuosi                object
Vastuualue           object
Toimittajan nimi     object
Tiliryhmä            object
Tilin nimi           object
Nettosumma          float64
dtype: object

Sarakkeiden tietotyypit ovat kunnossa. Vaikka vuosiluvut ovat numeroita, niitä ei käytetä tässä laskentaan, joten tietotyyppi *'object'* käy hyvin. 

Katsotaan seuraavaksi, millaisia yksilöllisiä arvoja kussakin sarakkeessa on:

In [90]:
pd.unique(df['Vuosi'])

array(['2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014',
       '2013', '2012'], dtype=object)

In [91]:
pd.unique(df['Vastuualue'])

array(['Konsernihallinto', 'Kaupunkirakenne',
       'Sosiaali- ja terveyspalvelut', 'Kasvun ja oppimisen palvelut',
       'Kulttuuri- ja liikuntapalvelut', 'Kulttuuripalvelut',
       'Liikuntapalvelut', 'Perusturva', 'Tilapalvelu-liikelaitos',
       'Keski-Suomen pelastuslaitos-liikelaitos',
       'Kylän Kattaus-liikelaitos', nan,
       'Altek Aluetekniikka-liikelaitos', 'K-S Pelastuslaitos',
       'Kaupunkirakennepalvelut', 'Jyväskylän Tilapalvelu',
       'Altek Aluetekniikka', 'Kylän Kattaus', 'K-S pelastuslaitos',
       '100, Konsernihallinto', '1001, Jyväskylän Tilapalvelu',
       '1002, Työterveys Aalto', '1003, K-S Pelastuslaitos',
       '1004, Kylän Kattaus', '1005, Altek Aluetekniikka',
       '1007, Talouskeskus-liikelaitos',
       '400, Sosiaali- ja terveyspalvelut',
       '500, Kasvun ja oppimisen palvelut', '600, Kulttuuripalvelut',
       '700, Liikuntapalvelut', '800, Kaupunkirakennepalvelut',
       '900, Konsernihallinto /Kankaan alue', '1007, Talouskeskus',
       'Kapunkirakenteen toimiala', 'Kaupunkirakenteen toimiala',
       'Talouskeskus', 'Tilapalvelu', 'Työterveys Aalto',
       '100 Konsernihallinto', '1001 Tilapalvelu',
       '1002 Työterveys Aalto', '1003 K-S Pelastulaitos',
       '1004 Kylän Kattaus', '1005 Altek Aluetekniikka',
       '1007 Talouskeskus', '400 Sosiaali- ja terveyspalvelut',
       '500 Kasvun- ja oppimisenpalvelut', '600 Kulttuuripalvelut',
       '700 Liikuntapalvelut', '800 Kaupunkirakennepalvelut',
       '1003 K-S Pelastuslaitos', '800 Kaupunkirakennepalvelu'],
      dtype=object)

Sarakkeen *'Vastuualue'* arvoista havaitaan, että vastuualueiden nimeämiskäytäntö on mitä ilmeisimmin muuttunut vuosien varrella. Voidaan olettaa, että esimerkiksi *'Konsernihallinto'* ja *'100, Konsernihallinto'* ja *'Liikuntapalvelut'* sekä *'700 Liikuntapalvelut'* ovat samoja vastuualueita.    

Siivotaan tätä saraketta nimeämällä arvot yhdenmukaisesti ja poistamalla numerotunnukset nimien edestä.

In [92]:
# Muutetaan sarakkeen 'Vastuualue' arvot yhtenäisemmiksi:
df['Vastuualue'].replace({'Kaupunkirakenne': 'Kaupunkirakennepalvelut',
                          'Tilapalvelu-liikelaitos': 'Jyväskylän Tilapalvelu',
                          'Keski-Suomen pelastuslaitos-liikelaitos': 'K-S Pelastuslaitos',
                          'Kylän Kattaus-liikelaitos': 'Kylän Kattaus',
                          'Altek Aluetekniikka-liikelaitos': 'Altek Aluetekniikka', 
                          'K-S pelastuslaitos': 'K-S Pelastuslaitos',
                          '100, Konsernihallinto': 'Konsernihallinto',
                          '1001, Jyväskylän Tilapalvelu': 'Jyväskylän Tilapalvelu',
                          '1002, Työterveys Aalto': 'Työterveys Aalto',
                          '1003, K-S Pelastuslaitos': 'K-S Pelastuslaitos',
                          '1004, Kylän Kattaus': 'Kylän Kattaus',
                          '1005, Altek Aluetekniikka': 'Altek Aluetekniikka',
                          '1007, Talouskeskus-liikelaitos': 'Talouskeskus',
                          '400, Sosiaali- ja terveyspalvelut': 'Sosiaali- ja terveyspalvelut',
                          '500, Kasvun ja oppimisen palvelut': 'Kasvun ja oppimisen palvelut', 
                          '600, Kulttuuripalvelut': 'Kulttuuripalvelut',
                          '700, Liikuntapalvelut': 'Liikuntapalvelut', 
                          '800, Kaupunkirakennepalvelut': 'Kaupunkirakennepalvelut',
                          '900, Konsernihallinto /Kankaan alue': 'Konsernihallinto / Kankaan alue',
                          '1007, Talouskeskus': 'Talouskeskus',
                          'Kapunkirakenteen toimiala': 'Kaupunkirakennepalvelut', 
                          'Kaupunkirakenteen toimiala': 'Kaupunkirakennepalvelut',
                          'Tilapalvelu': 'Jyväskylän Tilapalvelu',
                          '100 Konsernihallinto': 'Konsernihallinto', 
                          '1001 Tilapalvelu': 'Jyväskylän Tilapalvelu',
                          '1002 Työterveys Aalto': 'Työterveys Aalto', 
                          '1003 K-S Pelastulaitos': 'K-S Pelastuslaitos',
                          '1004 Kylän Kattaus': 'Kylän Kattaus', 
                          '1005 Altek Aluetekniikka': 'Altek Aluetekniikka',
                          '1007 Talouskeskus': 'Talouskeskus', 
                          '400 Sosiaali- ja terveyspalvelut': 'Sosiaali- ja terveyspalvelut',
                          '500 Kasvun- ja oppimisenpalvelut': 'Kasvun ja oppimisen palvelut', 
                          '600 Kulttuuripalvelut': 'Kulttuuripalvelut',
                          '700 Liikuntapalvelut': 'Liikuntapalvelut', 
                          '800 Kaupunkirakennepalvelut': 'Kaupunkirakennepalvelut',
                          '1003 K-S Pelastuslaitos': 'K-S Pelastuslaitos', 
                          '800 Kaupunkirakennepalvelu': 'Kaupunkirakennepalvelut'
                         }, inplace = True)

In [93]:
pd.unique(df['Vastuualue'])

array(['Konsernihallinto', 'Kaupunkirakennepalvelut',
       'Sosiaali- ja terveyspalvelut', 'Kasvun ja oppimisen palvelut',
       'Kulttuuri- ja liikuntapalvelut', 'Kulttuuripalvelut',
       'Liikuntapalvelut', 'Perusturva', 'Jyväskylän Tilapalvelu',
       'K-S Pelastuslaitos', 'Kylän Kattaus', nan, 'Altek Aluetekniikka',
       'Työterveys Aalto', 'Talouskeskus',
       'Konsernihallinto / Kankaan alue'], dtype=object)

Nyt näyttää paremmalta. Edelleen sarake *'Vastuualue'* sisältää arvon *'Kulttuuri- ja liikuntapalvelut'*, mutta näillä tiedoin emme voi jaotella sitä tarkemmin sarakkeisiin *'Kulttuuripalvelut'* ja *'Liikuntapalvelut'*.   

Katsotaan seuraavaksi sarakkeen *'Tiliryhmä'* arvoja:

In [94]:
pd.unique(df['Tiliryhmä'])

array(['Ulkoiset palvelujen ostot',
       'Ulkoiset aineet, tarvikkeet ja tavarat',
       'Ulkoiset muut toimintakulut', 'Ulkoiset vuokrakulut',
       'Henkilöstökorv. ja muut henk.menojen korj.erät',
       'Muut henkilösivukulut', 'Asiakaspalvelujen ostot',
       'Sisäiset palvelujen ostot', 'Sisäiset vuokrakulut', nan,
       'Ulkoisten palvelujen ostot', 'Ulkoiset aineet ja tarvikkeet',
       'Valmiin käyttöomaisuuden ostot', 'Muut toimintakulut',
       'Aineet, tarvikkeet ja tavarat', 'Palvelujen osto',
       'Palvelujen ostot', 'Aineer, tarvikkeet ja tavarat'], dtype=object)

Sarake *'Tiliryhmä'* sisältää arvot *'Aineet, tarvikkeet ja tavarat'* ja *'Aineer, tarvikkeet ja tavarat'*, tässä lienee kirjoitusvirhe. Samoin *'Palvelujen osto'* ja *'Palvelujen ostot'*, *'Ulkoiset aineet ja tarvikkeet'* ja *'Ulkoiset aineet, tarvikkeet ja tavarat'* sekä *'Ulkoiset palvelujen ostot'* ja *'Ulkoisten palvelujen ostot'* ovat todennäköisesti sama tiliryhmä. Korjataan nämä.

In [95]:
# Muutetaan arvojen nimiä:
df['Tiliryhmä'].replace({'Aineer, tarvikkeet ja tavarat': 'Aineet, tarvikkeet ja tavarat',
                         'Palvelujen osto': 'Palvelujen ostot',
                         'Ulkoiset aineet ja tarvikkeet': 'Ulkoiset aineet, tarvikkeet ja tavarat',
                         'Ulkoiset palvelujen ostot': 'Ulkoisten palvelujen ostot'}, inplace = True)

pd.unique(df['Tiliryhmä'])

array(['Ulkoisten palvelujen ostot',
       'Ulkoiset aineet, tarvikkeet ja tavarat',
       'Ulkoiset muut toimintakulut', 'Ulkoiset vuokrakulut',
       'Henkilöstökorv. ja muut henk.menojen korj.erät',
       'Muut henkilösivukulut', 'Asiakaspalvelujen ostot',
       'Sisäiset palvelujen ostot', 'Sisäiset vuokrakulut', nan,
       'Valmiin käyttöomaisuuden ostot', 'Muut toimintakulut',
       'Aineet, tarvikkeet ja tavarat', 'Palvelujen ostot'], dtype=object)

Näyttää asianmukaiselta. Tutkitaan seuraavaksi saraketta *'Tilin nimi'*:

In [96]:
pd.unique(df['Tilin nimi'])

array(['Asiantuntijapalvelut', 'Toimistopalvelut', 'ICT-palvelut',
       'Painatukset, ilmoitukset ja markkinointi',
       'Posti- ja kuriiripalvelut',
       'Koneiden, kaluston ja laitteiden rakentamis- ja ku',
       'Majoitus- ja ravitsemispalvelut',
       'Koulutus- ja kulttuuripalvelut', 'Muut palvelut',
       'Toimisto- ja koulutarvikkeet', 'Kirjallisuus', 'Muu materiaali',
       'Muut kulut', 'Muut yhteistoimintaosuudet', 'Jäsenmaksut',
       'Vakuutukset', 'Puhtaanapito- ja pesulapalvelut',
       'Matkustus- ja kuljetuspalvelut', 'Poltto- ja voiteluaineet',
       'Kalusto', 'Muut vuokrat', 'Elintarvikkeet',
       'Sosiaali- ja terveyspalvelut', 'Sairausvakuutuskorvaukset',
       'SV-päivärahojen sotu-maksut',
       'Rakennusten ja alueiden rakentamis- ja kunnossapit',
       'Rakennusmateriaali', 'Vaatteisto', 'Asiakaspalvelujen ostot',
       'Rahoitus- ja pankkipalvelut', 'Puhdistusaineet ja tarvikkeet',
       'Sähkö ja kaasu', 'Työvoiman vuokraus', 'Hoitotarvikkeet',
       'Lääkkeet', 'Varaston hintaerot', 'Pienet hintaerot',
       'Muut henkilöstömenojen korjauserät',
       'Koneiden ja laitteiden kunnossapito',
       'Kiinteistöjen ja ulkoalueiden kunnossapito', 'Vesi',
       'Sis.koulutus- ja kulttuuripalvelut', 'Jätehuoltopalvelut',
       'Kiinteistöjen ja ulkoalueiden hoito', 'Muut koneet ja kalusto',
       'Jätevesimaksut', 'Lämmitys', 'Tipa menot sopimusvuokrat',
       'Koulutuskorvaukset työnantajille', 'Maa-ja vesialueiden hankinta',
       'Investoinnit maahan', 'Muut aineettomat hyödykkeet',
       'Tietokonelaitteet', 'Muut aineelliset hyödykkeet',
       'Kuljetusvälineet', 'Tietokoneohjelmistot', 'Puhtaanapitopalvelut',
       'Koneiden ja laitteiden huolto', 'Vapaapalokuntien menot',
       'Viestintälaitteet', nan, 'Aktivoidut palvelujen ostot',
       'Pilaantuneet maat', 'Kiinteät rakenteet ja laitteet',
       'Osuus verotuskustannuksiin', 'Muut rakennukset',
       'Majoitus- ja revitsemispalvelut', 'Rah. ja pankkipalv.',
       'Rakennusten ja alueiden rakentamis- ja kunnossapito',
       'Toimisto- ja asiantuntijapalvelut', 'Lääkkeet ja hoitotarvikkeet',
       'Myytävät tuotteet -', 'Muut aineelliset hyö',
       'Koneiden, kaluston ja laitteiden rakentamis- ja ku ',
       'Asuinrakennukset', 'Hävikki', 'Lämmitys, sähkö ja vesi',
       'Toimisto-, pankki- ja asiantuntijapalvelut',
       'Opetus- ja kulttuuripalvelut', 'Painatukset ja ilmoitukset',
       'Posti- ja telepalvelut', 'Siivous- ja puhdistusaineet', 'Sähkö',
       'Maa-ja vesialueet', 'Osakkeet ja osuudet', 43,
       'Rakennusten ja huoneistojen vuokrat', 'Myytävät tuotteet - tili'],
      dtype=object)

Tilien nimissä on erikseen *'Rakennusten ja alueiden rakentamis- ja kunnossapit'* ja *'Rakennusten ja alueiden rakentamis- ja kunnossapito'*, *'Koneiden, kaluston ja laitteiden rakentamis- ja ku'* ja *'Koneiden, kaluston ja laitteiden rakentamis- ja ku '* sekä *'Majoitus- ja revitsemispalvelut'* ja *'Majoitus- ja ravitsemispalvelut'*. Korjataan nämä samannimisiksi.

In [97]:
# Muutetaan arvojen nimiä:
df['Tilin nimi'].replace({'Rakennusten ja alueiden rakentamis- ja kunnossapit': 'Rakennusten ja alueiden rakentamis- ja kunnossapito',
                          'Koneiden, kaluston ja laitteiden rakentamis- ja ku ': 'Koneiden, kaluston ja laitteiden rakentamis- ja ku',
                          'Majoitus- ja revitsemispalvelut': 'Majoitus- ja ravitsemispalvelut'}, inplace = True)

pd.unique(df['Tilin nimi'])

array(['Asiantuntijapalvelut', 'Toimistopalvelut', 'ICT-palvelut',
       'Painatukset, ilmoitukset ja markkinointi',
       'Posti- ja kuriiripalvelut',
       'Koneiden, kaluston ja laitteiden rakentamis- ja ku',
       'Majoitus- ja ravitsemispalvelut',
       'Koulutus- ja kulttuuripalvelut', 'Muut palvelut',
       'Toimisto- ja koulutarvikkeet', 'Kirjallisuus', 'Muu materiaali',
       'Muut kulut', 'Muut yhteistoimintaosuudet', 'Jäsenmaksut',
       'Vakuutukset', 'Puhtaanapito- ja pesulapalvelut',
       'Matkustus- ja kuljetuspalvelut', 'Poltto- ja voiteluaineet',
       'Kalusto', 'Muut vuokrat', 'Elintarvikkeet',
       'Sosiaali- ja terveyspalvelut', 'Sairausvakuutuskorvaukset',
       'SV-päivärahojen sotu-maksut',
       'Rakennusten ja alueiden rakentamis- ja kunnossapito',
       'Rakennusmateriaali', 'Vaatteisto', 'Asiakaspalvelujen ostot',
       'Rahoitus- ja pankkipalvelut', 'Puhdistusaineet ja tarvikkeet',
       'Sähkö ja kaasu', 'Työvoiman vuokraus', 'Hoitotarvikkeet',
       'Lääkkeet', 'Varaston hintaerot', 'Pienet hintaerot',
       'Muut henkilöstömenojen korjauserät',
       'Koneiden ja laitteiden kunnossapito',
       'Kiinteistöjen ja ulkoalueiden kunnossapito', 'Vesi',
       'Sis.koulutus- ja kulttuuripalvelut', 'Jätehuoltopalvelut',
       'Kiinteistöjen ja ulkoalueiden hoito', 'Muut koneet ja kalusto',
       'Jätevesimaksut', 'Lämmitys', 'Tipa menot sopimusvuokrat',
       'Koulutuskorvaukset työnantajille', 'Maa-ja vesialueiden hankinta',
       'Investoinnit maahan', 'Muut aineettomat hyödykkeet',
       'Tietokonelaitteet', 'Muut aineelliset hyödykkeet',
       'Kuljetusvälineet', 'Tietokoneohjelmistot', 'Puhtaanapitopalvelut',
       'Koneiden ja laitteiden huolto', 'Vapaapalokuntien menot',
       'Viestintälaitteet', nan, 'Aktivoidut palvelujen ostot',
       'Pilaantuneet maat', 'Kiinteät rakenteet ja laitteet',
       'Osuus verotuskustannuksiin', 'Muut rakennukset',
       'Rah. ja pankkipalv.', 'Toimisto- ja asiantuntijapalvelut',
       'Lääkkeet ja hoitotarvikkeet', 'Myytävät tuotteet -',
       'Muut aineelliset hyö', 'Asuinrakennukset', 'Hävikki',
       'Lämmitys, sähkö ja vesi',
       'Toimisto-, pankki- ja asiantuntijapalvelut',
       'Opetus- ja kulttuuripalvelut', 'Painatukset ja ilmoitukset',
       'Posti- ja telepalvelut', 'Siivous- ja puhdistusaineet', 'Sähkö',
       'Maa-ja vesialueet', 'Osakkeet ja osuudet', 43,
       'Rakennusten ja huoneistojen vuokrat', 'Myytävät tuotteet - tili'],
      dtype=object)

Sarakkeessa *'Tilin nimi'* arvo *43* ei kuulosta oikealta - mikähän se on? Tutkitaan, millaisia arvoja on riveillä, jossa tilin nimenä on *'43'*:

In [98]:
print(df.loc[df['Tilin nimi'].isin([43])])

        Vuosi                    Vastuualue Toimittajan nimi  \
1661884  2013  Sosiaali- ja terveyspalvelut   MAINIO VIRE OY
1661931  2013  Sosiaali- ja terveyspalvelut   MAINIO VIRE OY
1662126  2013  Sosiaali- ja terveyspalvelut   MAINIO VIRE OY

                          Tiliryhmä Tilin nimi  Nettosumma
1661884  Ulkoisten palvelujen ostot         43        30.4
1661931  Ulkoisten palvelujen ostot         43        30.4
1662126  Ulkoisten palvelujen ostot         43        30.4

Mitä ilmeisimmin nämä ostotiedot on kirjattu väärän nimiselle tilille. Riveissä saattaa olla myös dublikaatteja, mutta tämän perusteella sitä ei voi varmuudella tietää - tästä pitää kysyä aineiston tuntevalta henkilöltä. Jyväskylän kaupungin taloussuunnittelupäällikkö Erikka Saastamoinen kertoi, että kyseiset kirjauset on tehty oikealle tilille, mutta tilin nimi on vahingossa mennyt väärin. Tässä tapauksessa arvon *43* sijaan tilin nimenä pitäisi olla *'Asiakaspalvelujen ostot'*. Korjataan tämä datakehikkoon:

In [99]:
df['Tilin nimi'].replace({43: 'Asiakaspalvelujen ostot'}, inplace = True)

pd.unique(df['Tilin nimi'])

array(['Asiantuntijapalvelut', 'Toimistopalvelut', 'ICT-palvelut',
       'Painatukset, ilmoitukset ja markkinointi',
       'Posti- ja kuriiripalvelut',
       'Koneiden, kaluston ja laitteiden rakentamis- ja ku',
       'Majoitus- ja ravitsemispalvelut',
       'Koulutus- ja kulttuuripalvelut', 'Muut palvelut',
       'Toimisto- ja koulutarvikkeet', 'Kirjallisuus', 'Muu materiaali',
       'Muut kulut', 'Muut yhteistoimintaosuudet', 'Jäsenmaksut',
       'Vakuutukset', 'Puhtaanapito- ja pesulapalvelut',
       'Matkustus- ja kuljetuspalvelut', 'Poltto- ja voiteluaineet',
       'Kalusto', 'Muut vuokrat', 'Elintarvikkeet',
       'Sosiaali- ja terveyspalvelut', 'Sairausvakuutuskorvaukset',
       'SV-päivärahojen sotu-maksut',
       'Rakennusten ja alueiden rakentamis- ja kunnossapito',
       'Rakennusmateriaali', 'Vaatteisto', 'Asiakaspalvelujen ostot',
       'Rahoitus- ja pankkipalvelut', 'Puhdistusaineet ja tarvikkeet',
       'Sähkö ja kaasu', 'Työvoiman vuokraus', 'Hoitotarvikkeet',
       'Lääkkeet', 'Varaston hintaerot', 'Pienet hintaerot',
       'Muut henkilöstömenojen korjauserät',
       'Koneiden ja laitteiden kunnossapito',
       'Kiinteistöjen ja ulkoalueiden kunnossapito', 'Vesi',
       'Sis.koulutus- ja kulttuuripalvelut', 'Jätehuoltopalvelut',
       'Kiinteistöjen ja ulkoalueiden hoito', 'Muut koneet ja kalusto',
       'Jätevesimaksut', 'Lämmitys', 'Tipa menot sopimusvuokrat',
       'Koulutuskorvaukset työnantajille', 'Maa-ja vesialueiden hankinta',
       'Investoinnit maahan', 'Muut aineettomat hyödykkeet',
       'Tietokonelaitteet', 'Muut aineelliset hyödykkeet',
       'Kuljetusvälineet', 'Tietokoneohjelmistot', 'Puhtaanapitopalvelut',
       'Koneiden ja laitteiden huolto', 'Vapaapalokuntien menot',
       'Viestintälaitteet', nan, 'Aktivoidut palvelujen ostot',
       'Pilaantuneet maat', 'Kiinteät rakenteet ja laitteet',
       'Osuus verotuskustannuksiin', 'Muut rakennukset',
       'Rah. ja pankkipalv.', 'Toimisto- ja asiantuntijapalvelut',
       'Lääkkeet ja hoitotarvikkeet', 'Myytävät tuotteet -',
       'Muut aineelliset hyö', 'Asuinrakennukset', 'Hävikki',
       'Lämmitys, sähkö ja vesi',
       'Toimisto-, pankki- ja asiantuntijapalvelut',
       'Opetus- ja kulttuuripalvelut', 'Painatukset ja ilmoitukset',
       'Posti- ja telepalvelut', 'Siivous- ja puhdistusaineet', 'Sähkö',
       'Maa-ja vesialueet', 'Osakkeet ja osuudet',
       'Rakennusten ja huoneistojen vuokrat', 'Myytävät tuotteet - tili'],
      dtype=object)

Tarkastetaan seuraavaksi, millaisia arvoja sarake *'Nettosumma'* saa:

In [100]:
print('Minimi: ', df['Nettosumma'].min())
print('Maksimi: ', df['Nettosumma'].max())

Minimi:  -9078435.57
Maksimi:  444548729.06997675

Oston nettosumma voi siis olla negatiivinen, jolloin kyseessä on hyvityslasku. Tutkitaan, kuinka monta tällaista riviä aineisto sisältää:

In [101]:
print('Alle 0 e ostot (hyvityslaskut): ', len(df[df['Nettosumma'] < 0]))

Alle 0 e ostot (hyvityslaskut):  23859

Hyvityslaskuja on vajaa 24 000 kappaletta, mikä on tässä aineistossa melko vähäinen määrä. Pidetään nämä rivit aineistossa, mutta ollaan tietoisia niistä.   

Sarakkeen *'Toimittajan nimi'* arvoja ei ole tarpeen käydä tässä läpi.

[Takaisin alkuun](#header1)

### Puuttuvien arvojen käsittely <a name="subparagraph4"></a> 

Aiemmassa tarkastelussa havaittiin, että sarakkeissa on puuttuvia (*nan*) arvoja. Tarkastetaan ensin, paljonko näitä kussakin sarakkeessa on:

In [102]:
print('Puuttuvia arvoja sarakkeessa \'Vuosi\': ', df['Vuosi'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Vastuualue\': ', df['Vastuualue'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Toimittajan nimi\': ', df['Toimittajan nimi'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Tiliryhmä\': ', df['Tiliryhmä'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Tilin nimi\': ', df['Tilin nimi'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Nettosumma\': ', df['Nettosumma'].isna().sum())

Puuttuvia arvoja sarakkeessa 'Vuosi':  0
Puuttuvia arvoja sarakkeessa 'Vastuualue':  3
Puuttuvia arvoja sarakkeessa 'Toimittajan nimi':  3
Puuttuvia arvoja sarakkeessa 'Tiliryhmä':  3
Puuttuvia arvoja sarakkeessa 'Tilin nimi':  33
Puuttuvia arvoja sarakkeessa 'Nettosumma':  0

Selvitetään, millasta dataa puuttuvia arvoja sisältävät rivit sisältävät:

In [103]:
df1 = df[df.isna().any(axis=1)]
print(df1)

        Vuosi                    Vastuualue  \
223294   2021                           NaN
351998   2020                           NaN
718418   2018                           NaN
1538049  2014       Kaupunkirakennepalvelut
1548645  2013        Jyväskylän Tilapalvelu
1548646  2013        Jyväskylän Tilapalvelu
1548647  2013        Jyväskylän Tilapalvelu
1548648  2013        Jyväskylän Tilapalvelu
1548649  2013        Jyväskylän Tilapalvelu
1548766  2013        Jyväskylän Tilapalvelu
1548767  2013        Jyväskylän Tilapalvelu
1548770  2013        Jyväskylän Tilapalvelu
1548772  2013        Jyväskylän Tilapalvelu
1548773  2013        Jyväskylän Tilapalvelu
1548774  2013        Jyväskylän Tilapalvelu
1548775  2013        Jyväskylän Tilapalvelu
1548776  2013        Jyväskylän Tilapalvelu
1548777  2013        Jyväskylän Tilapalvelu
1555826  2013        Jyväskylän Tilapalvelu
1564290  2013        Jyväskylän Tilapalvelu
1564300  2013        Jyväskylän Tilapalvelu
1575450  2013        Jyväskylän Tilapalvelu
1575451  2013        Jyväskylän Tilapalvelu
1575452  2013        Jyväskylän Tilapalvelu
1575453  2013        Jyväskylän Tilapalvelu
1579538  2013        Jyväskylän Tilapalvelu
1579541  2013        Jyväskylän Tilapalvelu
1586688  2013            K-S Pelastuslaitos
1594314  2013            K-S Pelastuslaitos
1616231  2013           Altek Aluetekniikka
1666196  2013  Sosiaali- ja terveyspalvelut
1678866  2013  Sosiaali- ja terveyspalvelut
1688397  2013  Sosiaali- ja terveyspalvelut

                           Toimittajan nimi  \
223294                                  NaN
351998                                  NaN
718418                                  NaN
1538049                          SOKOTEL OY
1548645                   CAVERION SUOMI OY
1548646                   CAVERION SUOMI OY
1548647                   CAVERION SUOMI OY
1548648                   CAVERION SUOMI OY
1548649                   CAVERION SUOMI OY
1548766             EDUCATION FACILITIES OY
1548767             EDUCATION FACILITIES OY
1548770             EDUCATION FACILITIES OY
1548772             EDUCATION FACILITIES OY
1548773             EDUCATION FACILITIES OY
1548774             EDUCATION FACILITIES OY
1548775             EDUCATION FACILITIES OY
1548776             EDUCATION FACILITIES OY
1548777             EDUCATION FACILITIES OY
1555826             JYVÄSKYLÄN ALUETAKSI OY
1564290              JYVÄSKYLÄN LIIKENNE OY
1564300              JYVÄSKYLÄN LIIKENNE OY
1575450         TOTAL KIINTEISTÖPALVELUT OY
1575451         TOTAL KIINTEISTÖPALVELUT OY
1575452         TOTAL KIINTEISTÖPALVELUT OY
1575453         TOTAL KIINTEISTÖPALVELUT OY
1579538         TOTAL KIINTEISTÖPALVELUT OY
1579541         TOTAL KIINTEISTÖPALVELUT OY
1586688                   AUTOTALO DRAKE OY
1594314  SUOMEN PELASTUSALAN KESKUSJÄRJESTÖ
1616231                MAANSIIRTO VIIALA KY
1666196              OPPIMISKESKUS HIPPO OY
1678866        TAMPEREEN LÄÄKINTÄVOIMISTELU
1688397                        VARPPAAJA OY

                                      Tiliryhmä Tilin nimi    Nettosumma
223294                                      NaN        NaN  4.445487e+08
351998                                      NaN        NaN  4.080993e+08
718418                                      NaN        NaN  4.039062e+08
1538049              Ulkoisten palvelujen ostot        NaN  4.927300e+02
1548645              Ulkoisten palvelujen ostot        NaN  3.147204e+04
1548646              Ulkoisten palvelujen ostot        NaN  3.147204e+04
1548647              Ulkoisten palvelujen ostot        NaN  3.147204e+04
1548648              Ulkoisten palvelujen ostot        NaN  3.161704e+04
1548649              Ulkoisten palvelujen ostot        NaN  3.161704e+04
1548766  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  9.207600e+02
1548767  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  7.334700e+02
1548770  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  9.050100e+02
1548772  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  3.817000e+02
1548773  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  2.853100e+02
1548774  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  2.222800e+02
1548775  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  2.178500e+02
1548776  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  5.760400e+02
1548777  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  6.695500e+02
1555826              Ulkoisten palvelujen ostot        NaN  5.518000e+01
1564290              Ulkoisten palvelujen ostot        NaN  9.165450e+03
1564300              Ulkoisten palvelujen ostot        NaN  3.200000e+02
1575450  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  3.193000e+02
1575451  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  6.860000e+01
1575452  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  5.420000e+01
1575453  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  1.277500e+02
1579538              Ulkoisten palvelujen ostot        NaN  9.205800e+02
1579541              Ulkoisten palvelujen ostot        NaN  8.780000e+01
1586688              Ulkoisten palvelujen ostot        NaN  6.161000e+01
1594314              Ulkoisten palvelujen ostot        NaN  1.000000e+02
1616231  Ulkoiset aineet, tarvikkeet ja tavarat        NaN  4.490350e+03
1666196              Ulkoisten palvelujen ostot        NaN  3.244700e+02
1678866              Ulkoisten palvelujen ostot        NaN  5.985000e+02
1688397              Ulkoisten palvelujen ostot        NaN  8.400000e+01

Kolme ensimmäistä riviä on hyödyttömiä analyysin kannalta, sillä niissä ei ole kirjattu kuin vain kyseisen oston nettosumma. Poistetaan nämä rivit:

In [104]:
# Poistetaan rivi, jos neljästä sarakkeesta puuttuu arvo:
df.dropna(thresh=4, inplace = True)

# Tarkastetaan, paljonko puuttuvia arvoja on nyt eri sarakkeissa: 
print('Puuttuvia arvoja sarakkeessa \'Vuosi\': ', df['Vuosi'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Vastuualue\': ', df['Vastuualue'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Toimittajan nimi\': ', df['Toimittajan nimi'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Tiliryhmä\': ', df['Tiliryhmä'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Tilin nimi\': ', df['Tilin nimi'].isna().sum())
print('Puuttuvia arvoja sarakkeessa \'Nettosumma\': ', df['Nettosumma'].isna().sum())

Puuttuvia arvoja sarakkeessa 'Vuosi':  0
Puuttuvia arvoja sarakkeessa 'Vastuualue':  0
Puuttuvia arvoja sarakkeessa 'Toimittajan nimi':  0
Puuttuvia arvoja sarakkeessa 'Tiliryhmä':  0
Puuttuvia arvoja sarakkeessa 'Tilin nimi':  30
Puuttuvia arvoja sarakkeessa 'Nettosumma':  0

Useita puuttuvia arvoja sisältävät kolme riviä saatiin poistettua datakehikosta. Puuttuvia arvoja on kuitenkin vielä runsaasti sarakkeessa *'Tilin nimi'*. Näiltä riveiltä muut tiedot on saatavilla, mutta tilin nimeä ei voida päätellä näiden perusteella. Säilytetään nämä rivit datakehikossa, mutta muutetaan niiden nimeksi *'Tuntematon tili'*:

In [105]:
df['Tilin nimi'] = df[['Tilin nimi']].fillna('Tuntematon tili')

# Tarkastetaan, että onnistuttiin:
print('Puuttuvia arvoja sarakkeessa \'Tilin nimi\': ', df['Tilin nimi'].isna().sum())

Puuttuvia arvoja sarakkeessa 'Tilin nimi':  0

Hyvältä vaikuttaa. Nyt aineisto on valmis analyysiä varten.      

### Aineiston tallentaminen CSV:ksi <a name="subparagraph5"></a> 

Tallennetaan lopuksi saatu datakehikko csv:ksi *'ostolaskut.csv'*, ja käytetään sitä jatkossa datan analysointia varten.

In [106]:
df.to_csv("ostolaskut.csv", index = False)

Ostolaskudatan analysointi jatkuu tiedostossa *'ostolaskut_analyysi.ipynb'*

[Takaisin alkuun](#header1)